/*FONTS*/

@font-face {
    font-family: "Astro";
    src: url(../Fonts/Atmospheric-rg4aL.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*VARIABLES CSS*/

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --first--color: #adc178;
    --fist--color-dark: #0b6133;
    --second--color: #0d31a7;
    --fondo: #f0ead2;
}

/*Base*/

*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2fc;
    font-family: "Roboto";
}

/*HEADER STYLES*/

.header-container {
    display: flex;
    flex-direction: column;
}

.icon {
    color: var(--first--color);
    font-size: 18px;
}

.margin-icon {
    margin: 0 10px 0 15px;
}

.icon-text {
    color: #97999b;
    margin-right: 30px;
    font-size: 16px;
    margin-left: 10px;
}

.header-contact-container {
    background-color: #1a2a36;
    justify-content: space-around;
    padding: 8px 2px 2px 2px;
}

.scoial-icon {
    margin: 0 4px 0 4px;
    color: var(--first--color);
    font-size: 25px;
    padding-bottom: 2px;
}

.scoial-icon::after {
    content: "";
    height: 36px;
    width: 2px;
    background-color: #97999b;
    position: absolute;
    top: 0.1rem;
    margin-left: 3px;
}

.row {
    display: flex;
    flex-direction: row;
}

.header-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo);
    padding: 13px;
}

.header-title {
    color: var(--fist--color-dark);
    font-size: 35px;
    padding: 5px;
}

.header-title::after {
    content: "";
    height: 85px;
    width: 1px;
    background-color: #97999b;
    position: absolute;
    margin-left: 3rem;
    top: 0.0001rem;
}

.header-title span {
    color: var(--first--color);
}

.nav-container {
    flex-grow: 0.7;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.link-container li {
    margin-right: 4rem;
    list-style: none;
    cursor: pointer;
    transition: all 0.3s;
}

.link-container li a {
    text-decoration: none;
    color: var(--text-black-900);
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s;
}

.link-container li a:hover {
    color: var(--first--color);
}

.link-container li a:focus,
.link-container li a:hover {
    color: var(--first--color);
}

/*Footer*/

/*SLIDER STYLES*/

.swiper {
    width: 100%;
    height: 90vh;
    margin-bottom: 0rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-1 {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../Img/Carrusel1.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.8);
}

.slider-2 {
    background-image: url(../Img/Carrusel3.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.8);
}

.slider-3 {
    background-image: url(../Img/carousel-2.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.8);
}

.slider-container p,
.slider-container h2,
.slider-container a {
    color: #fff;
    font-size: 30px;
    transition: all 1s;
}

.facebook i:hover {
    color: #3b5998;
    transform: scale(1.5);
    transition: all 1s;
}

.text-slider {
    padding-top: 8rem;
}

.slider-container p {
    padding-bottom: 2rem;
    font-size: 20px;
    font-weight: 600;
}

.slider-container a {
    text-decoration: none;
    background-color: var(--fist--color-dark);
    padding: 0.7rem;
    border-radius: 3rem;
    transition: all 0.5s;
    font-size: 20px;
}

.slider-container a:hover {
    color: var(--first--color);
    background-color: var(--fondo);
}

/*Values*/

.valores-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-black-900);
    padding-top: 3rem;
}

.valores-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 0rem 3rem 3rem 3rem;
}

.valores-text {
    justify-content: center;
    text-align: justify;
    width: 20rem;
    word-spacing: normal;
    font-size: 13px;
}

.valores-atributes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.valores-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.valores-icon-container i {
    font-size: 35px;
    padding: 1.09rem;
    color: var(--first--color);
    background-color: var(--fondo);
    margin-right: 2rem;
    margin-top: 0.5rem;
    border-radius: 5rem;
    transition: all 0.3s;
}
.engordar {
    padding: 1.09rem 1.5rem !important;
}

.valores-container i:hover {
    background-color: var(--first--color);
    color: var(--fondo);
}

.valores-container h4 {
    font-size: 20px;
    margin-bottom: 2px;
}

.valores-container p {
    font-size: 13px;
    padding-right: 1rem;
    color: #000;
}

/* .tools {
    margin-top: 1rem;
} */

/* Background fixed */
.fixed {
    width: 100%;
    height: 300px;
    background-image: url("../Img/panel-solar.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fixed h2,
p {
    text-align: center;
    color: #fff;
}
.fixed h2 {
    font-weight: 900;
    padding-top: 2rem;
    font-size: 4rem;
    color: var(--fist--color-dark);
}
.fixed-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fixed-content a {
    text-decoration: none;
    color: #fff;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #adc178;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

/*Footer*/

footer {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer p {
    color: #fff;
    line-height: 25px;
}

footer h4 {
    color: #fff;
    font-size: 20px;
}

.footer-top {
    background-color: #a98467;
    padding: 80px 0;
}

.segment-one h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #6c584c;
    letter-spacing: 3px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
    overflow: hidden;
}

.segment-one h4:hover {
    transform: scale(1.09);
    transition: all 1s;
}

.segment-one p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.segment-two h4 {
    color: #6c584c;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin: 10px 0;
    cursor: pointer;
}

.segment-three h4 {
    color: #6c584c;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin: 10px 0;
    cursor: pointer;
}

.segment-three a {
    padding: 12px;
    background: #f0ead2;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.segment-three a i {
    font-size: 25px;
    color: #000;
}

.facebook i {
    color: #fff;
    font-size: 30px;
    transition: all 1s;
}

.facebook i:hover {
    color: #3b5998;
    transform: scale(1.5);
    transition: all 1s;
}

.instagram i {
    color: #fff;
    margin-left: 2px;
    font-size: 30px;
    border-radius: 45%;
    transition: all 1s;
}

.instagram i:hover {
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
    );
    color: #fff;
    transform: scale(1.5);
    transition: all 1s;
    border-radius: 45%;
}

.twitter i {
    color: #fff;
    font-size: 30px;
    margin-left: 2px;
    transition: all 1s;
}

.linkedin i:hover {
    color: #2561a9;
    transform: scale(1.5);
    transition: all 1s;
}

/* .segment-two h4::before {
    content: "|";
    font-weight: 900;
    color: #adc178;
    padding-right: 10px;
}

.segment-three h4::before {
    content: "|";
    font-weight: 900;
    color: #adc178;
    padding-right: 10px;
} */

.segment-four h4 {
    color: #6c584c;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin: 10px 0;
    cursor: pointer;
}

.segment-four p {
    cursor: pointer;
    font-size: 16px;
    transition: all 1s;
}

.twitter i:hover {
    color: #1d9bf0;
    transform: scale(1.5);
    transition: all 1s;
}

.linkedin i {
    color: #fff;
    font-size: 30px;
    margin-left: 2px;
    transition: all 1s;
}

.linkedin i:hover {
    color: #2561a9;
    transform: scale(1.5);
    transition: all 1s;
}

.segment-four h4 {
    color: #6c584c;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin: 10px 0;
    cursor: pointer;
}

.segment-two h4::before {
    content: "|";
    font-weight: 900;
    color: #adc178;
    padding-right: 10px;
}

.segment-three h4::before {
    content: "|";
    font-weight: 900;
    color: #adc178;
    padding-right: 10px;
}

.segment-four h4::before {
    content: "|";
    font-weight: 900;
    color: #adc178;
    padding-right: 10px;
}

.segment-four p {
    cursor: pointer;
}

.footer-bottom-text {
    background-color: #6c584c;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 12px;
    margin-bottom: 0;
    font-size: 12px;
}

/* btn whtsp */

.whatsapp {
    height: 50px;
    width: 50px;
    background-color: #46df62;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    align-items: center;
    border: #fff solid 3px;
    transition: all 1s;
    overflow: hidden;
}

.whatsapp i {
    color: #fff;
    font-size: 30px;
    line-height: 45px;
}

.whatsapp:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.whatsapp:hover {
    transform: scale(1.1);
    transition: all 1s;
}
